* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Manrope, sans-serif;
    list-style: none;
    scroll-behavior: smooth;
}

a {
    color: inherit;
    text-decoration: none;
}

input {
    outline: none;
}

button {
    border: none;
    outline: none;
    background: none;
}

.container {
    max-width: 1200px;
    padding: 0 16px;
    margin: 0 auto;
}

.section__title {
    max-width: 800px;
    font-size: 64px;
    line-height: 64px;
    color: #1b5bf7;
    padding-bottom: 60px;
    @media (max-width: 900px) {
        font-size: 32px;
        line-height: 40px;
        padding-bottom: 40px;
    }
}

input {
    outline: none;
}
