.chat__img {
    position: fixed;
    bottom: 25px;
    right: 20px;
    cursor: pointer;
    z-index: 10;
    padding: 10px 8px 4px;
    background: #fff;
    border-radius: 100px;
    box-shadow: 0 0 10px #ddd;
    img {
        width: 100%;
    }
}
